#page-wrapper {
	padding-left: 250px;
}

#sidebar-wrapper {
	position: fixed;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	overflow-x: hidden;
	overflow-y: auto;
	color: #fff;
	background: #4f6ce3
}

#page-content-wrapper {
	width: 100%;
	padding: 20px;
}

.sidebar-nav {
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 1.5em;
	line-height: 2.8em;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: white
}

.sidebar-nav li a:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav>.sidebar-brand {
	font-size: 1.3em;
	line-height: 3em;
	background: #1a61b2;
}

.sideclick {
	background: rgba(255, 255, 255, 0.2) !important;
}

.tree li {
	list-style-type: none;
	margin: 0;
	padding: 10px 5px 0 5px;
	position: relative
}

.tree li::before,.tree li::after {
	content: '';
	left: -20px;
	position: absolute;
	right: auto
}

.tree li::before {
	border-left: 2px solid #000;
	bottom: 50px;
	height: 100%;
	top: 0;
	width: 1px
}

.tree li::after {
	border-top: 2px solid #000;
	height: 20px;
	top: 25px;
	width: 25px
}

.tree li span {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 2px solid #000;
	border-radius: 3px;
	display: inline-block;
	padding: 3px 8px;
	text-decoration: none;
	cursor: pointer;
}

.tree>ul>li::before,.tree>ul>li::after {
	border: 0
}

.tree li:last-child::before {
	height: 27px
}

.tree li span:hover {
	background: hotpink;
	border: 2px solid #94a0b4;
}

[aria-expanded="false"]>.expanded,[aria-expanded="true"]>.collapsed {
	display: none;
}

#login-form>div {
	margin: 15px 0;
}